In [28]:
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('default')

In [29]:
df = pd.read_csv('dataset_v1')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
 39  damage_grade                            260601 non-null  int64
dtypes: bool(22), int64(10), object(8)
memory usage: 43.2+ MB

# Structures (categoricos)

In [30]:
structures = df.loc[:, 'has_superstructure_adobe_mud' : 'has_superstructure_other']
struc = structures.head()
struc

,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other
0,True,True,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,True,True,False,False,False
4,True,False,False,False,False,False,False,False,False,False,False

In [31]:
s = df.loc[:, 'has_superstructure_adobe_mud' : 'has_superstructure_stone_flag'].head()
s

col_mean = s['has_superstructure_adobe_mud'].mean()
s.loc[s['has_superstructure_adobe_mud'], 'has_superstructure_adobe_mud_mean'] = col_mean
s.loc[~s['has_superstructure_adobe_mud'], 'has_superstructure_adobe_mud_mean'] = 1 - col_mean
s

,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_adobe_mud_mean
0,True,True,False,0.4
1,False,True,False,0.6
2,False,True,False,0.6
3,False,True,False,0.6
4,True,False,False,0.4

In [32]:
cols = [
	'has_superstructure_adobe_mud',
	'has_superstructure_mud_mortar_stone',
	'has_superstructure_stone_flag',
	'has_superstructure_cement_mortar_stone',
	'has_superstructure_mud_mortar_brick',
	'has_superstructure_cement_mortar_brick',
	'has_superstructure_timber',
	'has_superstructure_bamboo',
	'has_superstructure_rc_non_engineered',
	'has_superstructure_rc_engineered',
	'has_superstructure_other'
]

for col_name in cols:
    col_mean = structures[col_name].mean()
    structures.loc[structures[col_name], col_name + '_mean'] = col_mean
    structures.loc[~structures[col_name], col_name + '_mean'] = 1 - col_mean


structures_slice = structures.loc[:, 'has_superstructure_adobe_mud_mean' : 'has_superstructure_other_mean']
structures_slice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 11 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   has_superstructure_adobe_mud_mean            260601 non-null  float64
 1   has_superstructure_mud_mortar_stone_mean     260601 non-null  float64
 2   has_superstructure_stone_flag_mean           260601 non-null  float64
 3   has_superstructure_cement_mortar_stone_mean  260601 non-null  float64
 4   has_superstructure_mud_mortar_brick_mean     260601 non-null  float64
 5   has_superstructure_cement_mortar_brick_mean  260601 non-null  float64
 6   has_superstructure_timber_mean               260601 non-null  float64
 7   has_superstructure_bamboo_mean               260601 non-null  float64
 8   has_superstructure_rc_non_engineered_mean    260601 non-null  float64
 9   has_superstructure_rc_engineered_mean        260601 non-null  float64
 10  has_superstructure_other_mean                260601 non-null  float64
dtypes: float64(11)
memory usage: 23.9 MB

# Building categoricals

In [33]:

cc = [ # cc: "categorical columns"
	'land_surface_condition',
	'foundation_type',
	'roof_type',
	'ground_floor_type',
	'other_floor_type',
	'position',
	'plan_configuration',
    'legal_ownership_status'
]

build_cats = df.loc[:, cc]

# land_surface_condition
build_cats[cc[0]].replace(
    {"n": cc[0]+" N", "o":  cc[0]+" O", "t": cc[0]+" T"},
    inplace=True
)
# foundation_type
build_cats[cc[1]].replace(
    {"h": cc[1]+" H", "i":  cc[1]+" I", "r": cc[1]+" R", "u": cc[1]+" U", "w": cc[1]+" W"},
    inplace=True
)
# roof_type
build_cats[cc[2]].replace(
    {"n": cc[2]+" N", "q":  cc[2]+" Q", "x": cc[2]+" X"},
    inplace=True
)
# ground_floor_type
build_cats[cc[3]].replace(
    {"f": cc[3]+" F", "m":  cc[3]+" M", "v": cc[3]+" V", "x": cc[3]+" X", "z": cc[3]+" Z"},
    inplace=True
)
# other_floor_type
build_cats[cc[4]].replace(
    {"j": cc[4]+" J", "q":  cc[4]+" Q", "s": cc[4]+" S", "x": cc[4]+" X"},
    inplace=True
)
# position
build_cats[cc[5]].replace(
    {"j": cc[5]+" H", "o":  cc[5]+" O", "s": cc[5]+" S", "t": cc[5]+" T"},
    inplace=True
)
# plan_configuration
build_cats[cc[6]].replace(
    {"a": cc[6]+" A", "c": cc[6]+" C", "d": cc[6]+" D", "f": cc[6]+" F", "m": cc[6]+" M",
     "n": cc[6]+" N", "o": cc[6]+" O", "q": cc[6]+" Q", "s": cc[6]+" S", "u": cc[6]+" U"},
    inplace=True
)
# legal_ownership_status
build_cats[cc[7]].replace(
    {"a": cc[7]+" A", "r":  cc[7]+" R", "v": cc[7]+" V", "w": cc[7]+" W"},
    inplace=True
)

for col_name in cc:
    dummies = pd.get_dummies(build_cats[col_name])
    build_cats = pd.concat([build_cats, dummies], axis=1)
    
build_cats = build_cats.drop(columns=cc)
build_cats.loc[build_cats['foundation_type H'] == 1]

,land_surface_condition N,land_surface_condition O,land_surface_condition T,foundation_type H,foundation_type I,foundation_type R,foundation_type U,foundation_type W,roof_type N,roof_type Q,...,plan_configuration M,plan_configuration N,plan_configuration O,plan_configuration Q,plan_configuration S,plan_configuration U,legal_ownership_status A,legal_ownership_status R,legal_ownership_status V,legal_ownership_status W
34,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
178,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
398,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
462,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
549,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259247,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
259280,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
259333,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
259827,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
260523,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

Problema principal de hacer one hot encoding de esta forma: practicamente se duplica la cantidad de columnas

# Numericos

In [34]:
nums = df.loc[:, ['area_percentage', 'height_percentage']]
nums.describe()

       area_percentage  height_percentage
count    260601.000000      260601.000000
mean          8.018051           5.434365
std           4.392231           1.918418
min           1.000000           2.000000
25%           5.000000           4.000000
50%           7.000000           5.000000
75%           9.000000           6.000000
max         100.000000          32.000000

Podemos asumir que `area_percentage` es un porcentaje (el minimo es 1 y el maximo es 100), pero que pasa con `height_percentage`?

De todas formas podemos normalizar ambos a un numero entre 0 y 1 con:

```
norm(x) = (x - min) / (max - min)
```

In [35]:
from sklearn import preprocessing

values = nums.values
scaler = preprocessing.MinMaxScaler()
scaled_values = scaler.fit_transform(values)
scaled_nums = pd.DataFrame(scaled_values)
scaled_nums.rename(
    columns={0: 'area_percentage_norm', 1: 'height_percentage_norm'},
    inplace=True
)
scaled_nums.head()

   area_percentage_norm  height_percentage_norm
0              0.050505                0.100000
1              0.070707                0.166667
2              0.040404                0.100000
3              0.050505                0.100000
4              0.070707                0.233333

In [36]:
nums.head()

   area_percentage  height_percentage
0                6                  5
1                8                  7
2                5                  5
3                6                  5
4                8                  9

In [37]:
df2 = pd.read_csv('dataset_v2')
df2.head()

,Unnamed: 0,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,0,802906,6,487,12198,2,30,6,5,True,...,1,0,0,1,0,0,0,1,0,0
1,1,28830,8,900,2812,2,10,8,7,False,...,0,1,0,1,0,0,0,1,0,0
2,2,94947,21,363,8973,2,10,5,5,False,...,1,0,0,1,0,0,0,1,0,0
3,3,590882,22,418,10694,2,10,6,5,False,...,0,1,0,1,0,0,0,1,0,0
4,4,201944,11,131,1488,3,30,8,9,True,...,0,1,0,1,0,0,0,1,0,0

In [48]:
df3 = df2.join(structures_slice)
df3 = df3.join(scaled_nums)
df3 = df3.drop(columns=[
    'Unnamed: 0', 
    'area_percentage',
    'height_percentage',
    'has_superstructure_adobe_mud',
    'has_superstructure_mud_mortar_stone',
    'has_superstructure_stone_flag',
    'has_superstructure_cement_mortar_stone',
    'has_superstructure_mud_mortar_brick',
    'has_superstructure_cement_mortar_brick',
    'has_superstructure_timber',
    'has_superstructure_bamboo',
    'has_superstructure_rc_non_engineered',
    'has_superstructure_rc_engineered',
    'has_superstructure_other',
    'has_secondary_use',
    
])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 55 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   building_id                                  260601 non-null  int64
 1   geo_level_1_id                               260601 non-null  int64
 2   geo_level_2_id                               260601 non-null  int64
 3   geo_level_3_id                               260601 non-null  int64
 4   count_floors_pre_eq                          260601 non-null  int64
 5   age                                          260601 non-null  int64
 6   count_families                               260601 non-null  int64
 7   has_secondary_use                            260601 non-null  bool
 8   has_secondary_use_agriculture                260601 non-null  bool
 9   has_secondary_use_hotel                      260601 non-null  bool
 10  has_secondary_use_rental                     260601 non-null  bool
 11  has_secondary_use_institution                260601 non-null  bool
 12  has_secondary_use_school                     260601 non-null  bool
 13  has_secondary_use_industry                   260601 non-null  bool
 14  has_secondary_use_health_post                260601 non-null  bool
 15  has_secondary_use_gov_office                 260601 non-null  bool
 16  has_secondary_use_use_police                 260601 non-null  bool
 17  has_secondary_use_other                      260601 non-null  bool
 18  damage_grade                                 260601 non-null  int64
 19  roof_type_C1                                 260601 non-null  int64
 20  roof_type_C0                                 260601 non-null  int64
 21  land_surface_condition_C0                    260601 non-null  int64
 22  land_surface_condition_C1                    260601 non-null  int64
 23  foundation_type_C0                           260601 non-null  int64
 24  foundation_type_C1                           260601 non-null  int64
 25  foundation_type_C2                           260601 non-null  int64
 26  ground_floor_type_C0                         260601 non-null  int64
 27  ground_floor_type_C1                         260601 non-null  int64
 28  ground_floor_type_C2                         260601 non-null  int64
 29  other_floor_type_C0                          260601 non-null  int64
 30  other_floor_type_C1                          260601 non-null  int64
 31  other_floor_type_C2                          260601 non-null  int64
 32  position_C0                                  260601 non-null  int64
 33  position_C1                                  260601 non-null  int64
 34  position_C2                                  260601 non-null  int64
 35  plan_configuration_C0                        260601 non-null  int64
 36  plan_configuration_C1                        260601 non-null  int64
 37  plan_configuration_C2                        260601 non-null  int64
 38  plan_configuration_C3                        260601 non-null  int64
 39  legal_ownership_status_C0                    260601 non-null  int64
 40  legal_ownership_status_C1                    260601 non-null  int64
 41  legal_ownership_status_C2                    260601 non-null  int64
 42  has_superstructure_adobe_mud_mean            260601 non-null  float64
 43  has_superstructure_mud_mortar_stone_mean     260601 non-null  float64
 44  has_superstructure_stone_flag_mean           260601 non-null  float64
 45  has_superstructure_cement_mortar_stone_mean  260601 non-null  float64
 46  has_superstructure_mud_mortar_brick_mean     260601 non-null  float64
 47  has_superstructure_cement_mortar_brick_mean  260601 non-null  float64
 48  has_superstructure_timber_mean               260601 non-null  float64
 49  has_superstructure_bamboo_mean               260601 non-null  float64
 50  has_superstructure_rc_non_engineered_mean    260601 non-null  float64
 51  has_superstructure_rc_engineered_mean        260601 non-null  float64
 52  has_superstructure_other_mean                260601 non-null  float64
 53  area_percentage_norm                         260601 non-null  float64
 54  height_percentage_norm                       260601 non-null  float64
dtypes: bool(11), float64(13), int64(31)
memory usage: 90.2 MB

In [51]:
df3.to_csv('dataset_v3', index=False)