In [1]:
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
entrenamiento_df = pd.read_csv('dataset_v3')
entrenamiento_df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,count_families,damage_grade,roof_type_C1,roof_type_C0,...,has_superstructure_cement_mortar_stone_mean,has_superstructure_mud_mortar_brick_mean,has_superstructure_cement_mortar_brick_mean,has_superstructure_timber_mean,has_superstructure_bamboo_mean,has_superstructure_rc_non_engineered_mean,has_superstructure_rc_engineered_mean,has_superstructure_other_mean,area_percentage_norm,height_percentage_norm
0,802906,6,487,12198,2,30,1,3,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.050505,0.100000
1,28830,8,900,2812,2,10,1,2,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.070707,0.166667
2,94947,21,363,8973,2,10,1,3,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.040404,0.100000
3,590882,22,418,10694,2,10,1,2,0,1,...,0.981765,0.931846,0.924732,0.254988,0.085011,0.95741,0.984141,0.985015,0.050505,0.100000
4,201944,11,131,1488,3,30,1,3,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.070707,0.233333

In [52]:
entrenamiento_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 44 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   building_id                                  260601 non-null  int64
 1   geo_level_1_id                               260601 non-null  int64
 2   geo_level_2_id                               260601 non-null  int64
 3   geo_level_3_id                               260601 non-null  int64
 4   count_floors_pre_eq                          260601 non-null  int64
 5   age                                          260601 non-null  int64
 6   count_families                               260601 non-null  int64
 7   damage_grade                                 260601 non-null  int64
 8   roof_type_C1                                 260601 non-null  int64
 9   roof_type_C0                                 260601 non-null  int64
 10  land_surface_condition_C0                    260601 non-null  int64
 11  land_surface_condition_C1                    260601 non-null  int64
 12  foundation_type_C0                           260601 non-null  int64
 13  foundation_type_C1                           260601 non-null  int64
 14  foundation_type_C2                           260601 non-null  int64
 15  ground_floor_type_C0                         260601 non-null  int64
 16  ground_floor_type_C1                         260601 non-null  int64
 17  ground_floor_type_C2                         260601 non-null  int64
 18  other_floor_type_C0                          260601 non-null  int64
 19  other_floor_type_C1                          260601 non-null  int64
 20  other_floor_type_C2                          260601 non-null  int64
 21  position_C0                                  260601 non-null  int64
 22  position_C1                                  260601 non-null  int64
 23  position_C2                                  260601 non-null  int64
 24  plan_configuration_C0                        260601 non-null  int64
 25  plan_configuration_C1                        260601 non-null  int64
 26  plan_configuration_C2                        260601 non-null  int64
 27  plan_configuration_C3                        260601 non-null  int64
 28  legal_ownership_status_C0                    260601 non-null  int64
 29  legal_ownership_status_C1                    260601 non-null  int64
 30  legal_ownership_status_C2                    260601 non-null  int64
 31  has_superstructure_adobe_mud_mean            260601 non-null  float64
 32  has_superstructure_mud_mortar_stone_mean     260601 non-null  float64
 33  has_superstructure_stone_flag_mean           260601 non-null  float64
 34  has_superstructure_cement_mortar_stone_mean  260601 non-null  float64
 35  has_superstructure_mud_mortar_brick_mean     260601 non-null  float64
 36  has_superstructure_cement_mortar_brick_mean  260601 non-null  float64
 37  has_superstructure_timber_mean               260601 non-null  float64
 38  has_superstructure_bamboo_mean               260601 non-null  float64
 39  has_superstructure_rc_non_engineered_mean    260601 non-null  float64
 40  has_superstructure_rc_engineered_mean        260601 non-null  float64
 41  has_superstructure_other_mean                260601 non-null  float64
 42  area_percentage_norm                         260601 non-null  float64
 43  height_percentage_norm                       260601 non-null  float64
dtypes: float64(13), int64(31)
memory usage: 87.5 MB

In [14]:
test_df = pd.read_csv('encoded_test_values.csv')
test_df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,300051,17,596,11307,3,20,7,6,t,r,...,0,1,0,1,0,0,0,1,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,0,1,0,1,0,0,0,1,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,1,0,1,0,0,0,1,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,1,0,0,1,0,0,0,1,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,1,0,0,1,0,0,0,1,0,0

In [15]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86868 entries, 0 to 86867
Data columns (total 62 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   building_id                             86868 non-null  int64
 1   geo_level_1_id                          86868 non-null  int64
 2   geo_level_2_id                          86868 non-null  int64
 3   geo_level_3_id                          86868 non-null  int64
 4   count_floors_pre_eq                     86868 non-null  int64
 5   age                                     86868 non-null  int64
 6   area_percentage                         86868 non-null  int64
 7   height_percentage                       86868 non-null  int64
 8   land_surface_condition                  86868 non-null  object
 9   foundation_type                         86868 non-null  object
 10  roof_type                               86868 non-null  object
 11  ground_floor_type                       86868 non-null  object
 12  other_floor_type                        86868 non-null  object
 13  position                                86868 non-null  object
 14  plan_configuration                      86868 non-null  object
 15  has_superstructure_adobe_mud            86868 non-null  int64
 16  has_superstructure_mud_mortar_stone     86868 non-null  int64
 17  has_superstructure_stone_flag           86868 non-null  int64
 18  has_superstructure_cement_mortar_stone  86868 non-null  int64
 19  has_superstructure_mud_mortar_brick     86868 non-null  int64
 20  has_superstructure_cement_mortar_brick  86868 non-null  int64
 21  has_superstructure_timber               86868 non-null  int64
 22  has_superstructure_bamboo               86868 non-null  int64
 23  has_superstructure_rc_non_engineered    86868 non-null  int64
 24  has_superstructure_rc_engineered        86868 non-null  int64
 25  has_superstructure_other                86868 non-null  int64
 26  legal_ownership_status                  86868 non-null  object
 27  count_families                          86868 non-null  int64
 28  has_secondary_use                       86868 non-null  int64
 29  has_secondary_use_agriculture           86868 non-null  int64
 30  has_secondary_use_hotel                 86868 non-null  int64
 31  has_secondary_use_rental                86868 non-null  int64
 32  has_secondary_use_institution           86868 non-null  int64
 33  has_secondary_use_school                86868 non-null  int64
 34  has_secondary_use_industry              86868 non-null  int64
 35  has_secondary_use_health_post           86868 non-null  int64
 36  has_secondary_use_gov_office            86868 non-null  int64
 37  has_secondary_use_use_police            86868 non-null  int64
 38  has_secondary_use_other                 86868 non-null  int64
 39  roof_type_C1                            86868 non-null  int64
 40  roof_type_C0                            86868 non-null  int64
 41  land_surface_condition_C1               86868 non-null  int64
 42  land_surface_condition_C0               86868 non-null  int64
 43  foundation_type_C0                      86868 non-null  int64
 44  foundation_type_C1                      86868 non-null  int64
 45  foundation_type_C2                      86868 non-null  int64
 46  ground_floor_type_C0                    86868 non-null  int64
 47  ground_floor_type_C1                    86868 non-null  int64
 48  ground_floor_type_C2                    86868 non-null  int64
 49  other_floor_type_C0                     86868 non-null  int64
 50  other_floor_type_C1                     86868 non-null  int64
 51  other_floor_type_C2                     86868 non-null  int64
 52  position_C0                             86868 non-null  int64
 53  position_C1                             86868 non-null  int64
 54  position_C2                             86868 non-null  int64
 55  plan_configuration_C0                   86868 non-null  int64
 56  plan_configuration_C1                   86868 non-null  int64
 57  plan_configuration_C2                   86868 non-null  int64
 58  plan_configuration_C3                   86868 non-null  int64
 59  legal_ownership_status_C0               86868 non-null  int64
 60  legal_ownership_status_C1               86868 non-null  int64
 61  legal_ownership_status_C2               86868 non-null  int64
dtypes: int64(54), object(8)
memory usage: 41.1+ MB

In [16]:
test_df = test_df.drop(labels=['land_surface_condition','foundation_type','roof_type',\
'ground_floor_type','other_floor_type','position', 'plan_configuration','legal_ownership_status',\
 'has_secondary_use','has_secondary_use_agriculture','has_secondary_use_hotel','has_secondary_use_rental',\
'has_secondary_use_institution','has_secondary_use_school','has_secondary_use_industry','has_secondary_use_health_post',\
'has_secondary_use_gov_office','has_secondary_use_use_police','has_secondary_use_other'],axis=1)
test_df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,300051,17,596,11307,3,20,7,6,0,1,...,0,1,0,1,0,0,0,1,0,0
1,99355,6,141,11987,2,25,13,5,0,1,...,0,1,0,1,0,0,0,1,0,0
2,890251,22,19,10044,2,5,4,5,0,1,...,0,1,0,1,0,0,0,1,0,0
3,745817,26,39,633,1,0,19,3,0,0,...,1,0,0,1,0,0,0,1,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,1,0,0,1,0,0,0,1,0,0

In [17]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86868 entries, 0 to 86867
Data columns (total 43 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   building_id                             86868 non-null  int64
 1   geo_level_1_id                          86868 non-null  int64
 2   geo_level_2_id                          86868 non-null  int64
 3   geo_level_3_id                          86868 non-null  int64
 4   count_floors_pre_eq                     86868 non-null  int64
 5   age                                     86868 non-null  int64
 6   area_percentage                         86868 non-null  int64
 7   height_percentage                       86868 non-null  int64
 8   has_superstructure_adobe_mud            86868 non-null  int64
 9   has_superstructure_mud_mortar_stone     86868 non-null  int64
 10  has_superstructure_stone_flag           86868 non-null  int64
 11  has_superstructure_cement_mortar_stone  86868 non-null  int64
 12  has_superstructure_mud_mortar_brick     86868 non-null  int64
 13  has_superstructure_cement_mortar_brick  86868 non-null  int64
 14  has_superstructure_timber               86868 non-null  int64
 15  has_superstructure_bamboo               86868 non-null  int64
 16  has_superstructure_rc_non_engineered    86868 non-null  int64
 17  has_superstructure_rc_engineered        86868 non-null  int64
 18  has_superstructure_other                86868 non-null  int64
 19  count_families                          86868 non-null  int64
 20  roof_type_C1                            86868 non-null  int64
 21  roof_type_C0                            86868 non-null  int64
 22  land_surface_condition_C1               86868 non-null  int64
 23  land_surface_condition_C0               86868 non-null  int64
 24  foundation_type_C0                      86868 non-null  int64
 25  foundation_type_C1                      86868 non-null  int64
 26  foundation_type_C2                      86868 non-null  int64
 27  ground_floor_type_C0                    86868 non-null  int64
 28  ground_floor_type_C1                    86868 non-null  int64
 29  ground_floor_type_C2                    86868 non-null  int64
 30  other_floor_type_C0                     86868 non-null  int64
 31  other_floor_type_C1                     86868 non-null  int64
 32  other_floor_type_C2                     86868 non-null  int64
 33  position_C0                             86868 non-null  int64
 34  position_C1                             86868 non-null  int64
 35  position_C2                             86868 non-null  int64
 36  plan_configuration_C0                   86868 non-null  int64
 37  plan_configuration_C1                   86868 non-null  int64
 38  plan_configuration_C2                   86868 non-null  int64
 39  plan_configuration_C3                   86868 non-null  int64
 40  legal_ownership_status_C0               86868 non-null  int64
 41  legal_ownership_status_C1               86868 non-null  int64
 42  legal_ownership_status_C2               86868 non-null  int64
dtypes: int64(43)
memory usage: 28.5 MB

In [5]:
## librerias para entrenar
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [6]:
#defino las entradas x e y

x = np.array(entrenamiento_df.drop(['damage_grade'], axis=1))
y = np.array(entrenamiento_df['damage_grade'])

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
#elegir k
k_range = range(1,15)
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(x_train, y_train)
    scores.append(knn.score(x_test, y_test))
plt.figure()
plt.xlabel('k')
plt.ylabel('accuracy')
plt.scatter(k_range, scores)
plt.xticks([0,5,10,15])

In [ ]:
# la busqueda de k demoro mas de 3hs

In [9]:
# pruebo k =12
vecinos = 12
 
knn = KNeighborsClassifier(vecinos)
knn.fit(x_train, y_train)
print('Accuracy K-NN en set de entrenamiento: {:.2f}'
     .format(knn.score(x_train, y_train)))
print('Accuracy K-NN en set de test: {:.2f}'
     .format(knn.score(x_test, y_test)))

Accuracy K-NN en set de entrenamiento: 0.70
Accuracy K-NN en set de test: 0.64

In [ ]:
#La busqueda del accuracy demoro 30 minutos

In [10]:
#clasificador
clasificador = KNeighborsClassifier(vecinos, weights='distance')
clasificador.fit(x, y)

KNeighborsClassifier(n_neighbors=12, weights='distance')

In [18]:
#pruebo el modelo
z = np.array(test_df)

In [19]:
predictions = clasificador.predict(z)

In [21]:
submit = pd.read_csv('submission_format.csv', index_col='building_id')
submission = pd.DataFrame(
    data=predictions,
    columns=submit.columns,
    index=submit.index
)
submission.head()

             damage_grade
building_id
300051                  2
99355                   2
890251                  2
745817                  2
421793                  2

In [22]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86868 entries, 300051 to 501372
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   damage_grade  86868 non-null  int64
dtypes: int64(1)
memory usage: 1.3 MB

In [23]:
submission.to_csv('submissionKNN_12vecinos.csv')