In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

/usr/local/lib/python3.5/dist-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [5]:
train_v3 = pd.read_csv('dataset_v3')

In [6]:
train_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 44 columns):
building_id                                    260601 non-null int64
geo_level_1_id                                 260601 non-null int64
geo_level_2_id                                 260601 non-null int64
geo_level_3_id                                 260601 non-null int64
count_floors_pre_eq                            260601 non-null int64
age                                            260601 non-null int64
count_families                                 260601 non-null int64
damage_grade                                   260601 non-null int64
roof_type_C1                                   260601 non-null int64
roof_type_C0                                   260601 non-null int64
land_surface_condition_C0                      260601 non-null int64
land_surface_condition_C1                      260601 non-null int64
foundation_type_C0                             260601 non-null int64
foundation_type_C1                             260601 non-null int64
foundation_type_C2                             260601 non-null int64
ground_floor_type_C0                           260601 non-null int64
ground_floor_type_C1                           260601 non-null int64
ground_floor_type_C2                           260601 non-null int64
other_floor_type_C0                            260601 non-null int64
other_floor_type_C1                            260601 non-null int64
other_floor_type_C2                            260601 non-null int64
position_C0                                    260601 non-null int64
position_C1                                    260601 non-null int64
position_C2                                    260601 non-null int64
plan_configuration_C0                          260601 non-null int64
plan_configuration_C1                          260601 non-null int64
plan_configuration_C2                          260601 non-null int64
plan_configuration_C3                          260601 non-null int64
legal_ownership_status_C0                      260601 non-null int64
legal_ownership_status_C1                      260601 non-null int64
legal_ownership_status_C2                      260601 non-null int64
has_superstructure_adobe_mud_mean              260601 non-null float64
has_superstructure_mud_mortar_stone_mean       260601 non-null float64
has_superstructure_stone_flag_mean             260601 non-null float64
has_superstructure_cement_mortar_stone_mean    260601 non-null float64
has_superstructure_mud_mortar_brick_mean       260601 non-null float64
has_superstructure_cement_mortar_brick_mean    260601 non-null float64
has_superstructure_timber_mean                 260601 non-null float64
has_superstructure_bamboo_mean                 260601 non-null float64
has_superstructure_rc_non_engineered_mean      260601 non-null float64
has_superstructure_rc_engineered_mean          260601 non-null float64
has_superstructure_other_mean                  260601 non-null float64
area_percentage_norm                           260601 non-null float64
height_percentage_norm                         260601 non-null float64
dtypes: float64(13), int64(31)
memory usage: 87.5 MB

In [ ]:
train

In [4]:
train_labels = train_v3['damage_grade']
del train_v3['damage_grade']

In [15]:
##Usaremos train_v3 para realizar este modelo 

x = np.array(train_v3.iloc[1:100000,1:42])
y = np.array(train_labels.iloc[1:100000])

In [16]:
model = RandomForestRegressor(n_estimators=20,criterion="mae",max_depth=5)
model.fit(x,y)

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [18]:
x2 = np.array(train_v3.iloc[100000:200000,1:42])
y2 = np.array(train_labels.iloc[100000:200000])
model.fit(x2,y2)

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [17]:
score = model.score(x, y)
print("accuracy=%.2f%%" % ( score * 100))

accuracy=100.00%

In [19]:
score = model.score(x, y)
print("accuracy=%.2f%%" % ( score * 100))

accuracy=100.00%

In [20]:
score = model.score(x2, y2)
print("accuracy2=%.2f%%" % ( score * 100))

accuracy2=100.00%

In [ ]:
##Se puede observar que el modelo

In [21]:
from sklearn.metrics import accuracy_score

In [22]:

test_data = pd.read_csv('encoded_test_values.csv')

test_data = test_data.drop(labels=['land_surface_condition','foundation_type','roof_type',\
'ground_floor_type','other_floor_type','position', 'plan_configuration','legal_ownership_status',\
 'has_secondary_use','has_secondary_use_agriculture','has_secondary_use_hotel','has_secondary_use_rental',\
'has_secondary_use_institution','has_secondary_use_school','has_secondary_use_industry','has_secondary_use_health_post',\
'has_secondary_use_gov_office','has_secondary_use_use_police','has_secondary_use_other'],axis=1)

test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86868 entries, 0 to 86867
Data columns (total 43 columns):
building_id                               86868 non-null int64
geo_level_1_id                            86868 non-null int64
geo_level_2_id                            86868 non-null int64
geo_level_3_id                            86868 non-null int64
count_floors_pre_eq                       86868 non-null int64
age                                       86868 non-null int64
area_percentage                           86868 non-null int64
height_percentage                         86868 non-null int64
has_superstructure_adobe_mud              86868 non-null int64
has_superstructure_mud_mortar_stone       86868 non-null int64
has_superstructure_stone_flag             86868 non-null int64
has_superstructure_cement_mortar_stone    86868 non-null int64
has_superstructure_mud_mortar_brick       86868 non-null int64
has_superstructure_cement_mortar_brick    86868 non-null int64
has_superstructure_timber                 86868 non-null int64
has_superstructure_bamboo                 86868 non-null int64
has_superstructure_rc_non_engineered      86868 non-null int64
has_superstructure_rc_engineered          86868 non-null int64
has_superstructure_other                  86868 non-null int64
count_families                            86868 non-null int64
roof_type_C1                              86868 non-null int64
roof_type_C0                              86868 non-null int64
land_surface_condition_C1                 86868 non-null int64
land_surface_condition_C0                 86868 non-null int64
foundation_type_C0                        86868 non-null int64
foundation_type_C1                        86868 non-null int64
foundation_type_C2                        86868 non-null int64
ground_floor_type_C0                      86868 non-null int64
ground_floor_type_C1                      86868 non-null int64
ground_floor_type_C2                      86868 non-null int64
other_floor_type_C0                       86868 non-null int64
other_floor_type_C1                       86868 non-null int64
other_floor_type_C2                       86868 non-null int64
position_C0                               86868 non-null int64
position_C1                               86868 non-null int64
position_C2                               86868 non-null int64
plan_configuration_C0                     86868 non-null int64
plan_configuration_C1                     86868 non-null int64
plan_configuration_C2                     86868 non-null int64
plan_configuration_C3                     86868 non-null int64
legal_ownership_status_C0                 86868 non-null int64
legal_ownership_status_C1                 86868 non-null int64
legal_ownership_status_C2                 86868 non-null int64
dtypes: int64(43)
memory usage: 28.5 MB

In [23]:
test_data.to_csv('test_data_43C.csv')

In [25]:
predictions = model.predict(test_data.iloc[:,1:42])

In [28]:
predictions

array([3., 3., 3., ..., 3., 3., 3.])

In [43]:


submit = pd.read_csv('submission_format.csv', index_col='building_id')
submission = pd.DataFrame(
    data=predictions,
    columns=submit.columns,
    index=submit.index
)

In [46]:
submission['damage_grade'].value_counts()

3.0    83825
2.0     3043
Name: damage_grade, dtype: int64

In [48]:
train_labels.iloc[:100000].value_counts()

2    56790
3    33597
1     9613
Name: damage_grade, dtype: int64

In [49]:
submit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86868 entries, 300051 to 501372
Data columns (total 1 columns):
damage_grade    86868 non-null int64
dtypes: int64(1)
memory usage: 1.3 MB

In [50]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86868 entries, 300051 to 501372
Data columns (total 1 columns):
damage_grade    86868 non-null float64
dtypes: float64(1)
memory usage: 1.3 MB

In [52]:
submission.to_csv('submitRFRegressor.csv')

In [56]:
submission.head()

             damage_grade
building_id
300051                3.0
99355                 3.0
890251                3.0
745817                3.0
421793                3.0

In [57]:
submit2 = pd.read_csv('submission_format.csv')

In [58]:
submit2.head()

   building_id  damage_grade
0       300051             1
1        99355             1
2       890251             1
3       745817             1
4       421793             1

In [60]:
submission = submission.reset_index()

In [61]:
submission.to_csv('submitRFRegressor.csv')

In [62]:
submit2 = pd.read_csv('submitRFRegressor.csv',index_col='building_id')

In [65]:
submit2.head()

             damage_grade
building_id
300051                3.0
99355                 3.0
890251                3.0
745817                3.0
421793                3.0

In [66]:
submit2.to_csv('submitRFRegressor.csv')

In [67]:
submit2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86868 entries, 300051 to 501372
Data columns (total 1 columns):
damage_grade    86868 non-null float64
dtypes: float64(1)
memory usage: 1.3 MB

In [68]:
submit2['damage_grade'] = submit2['damage_grade'].astype('int64')

In [69]:
submit2.to_csv('submitRFRegressor.csv')

In [70]:
##Submit procesado 0.3424
##Procesamos el modelo nuevamente sin las columnas Booleanas que tienen tipo int64

In [73]:
train_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 44 columns):
building_id                                    260601 non-null int64
geo_level_1_id                                 260601 non-null int64
geo_level_2_id                                 260601 non-null int64
geo_level_3_id                                 260601 non-null int64
count_floors_pre_eq                            260601 non-null int64
age                                            260601 non-null int64
count_families                                 260601 non-null int64
damage_grade                                   260601 non-null int64
roof_type_C1                                   260601 non-null int64
roof_type_C0                                   260601 non-null int64
land_surface_condition_C0                      260601 non-null int64
land_surface_condition_C1                      260601 non-null int64
foundation_type_C0                             260601 non-null int64
foundation_type_C1                             260601 non-null int64
foundation_type_C2                             260601 non-null int64
ground_floor_type_C0                           260601 non-null int64
ground_floor_type_C1                           260601 non-null int64
ground_floor_type_C2                           260601 non-null int64
other_floor_type_C0                            260601 non-null int64
other_floor_type_C1                            260601 non-null int64
other_floor_type_C2                            260601 non-null int64
position_C0                                    260601 non-null int64
position_C1                                    260601 non-null int64
position_C2                                    260601 non-null int64
plan_configuration_C0                          260601 non-null int64
plan_configuration_C1                          260601 non-null int64
plan_configuration_C2                          260601 non-null int64
plan_configuration_C3                          260601 non-null int64
legal_ownership_status_C0                      260601 non-null int64
legal_ownership_status_C1                      260601 non-null int64
legal_ownership_status_C2                      260601 non-null int64
has_superstructure_adobe_mud_mean              260601 non-null float64
has_superstructure_mud_mortar_stone_mean       260601 non-null float64
has_superstructure_stone_flag_mean             260601 non-null float64
has_superstructure_cement_mortar_stone_mean    260601 non-null float64
has_superstructure_mud_mortar_brick_mean       260601 non-null float64
has_superstructure_cement_mortar_brick_mean    260601 non-null float64
has_superstructure_timber_mean                 260601 non-null float64
has_superstructure_bamboo_mean                 260601 non-null float64
has_superstructure_rc_non_engineered_mean      260601 non-null float64
has_superstructure_rc_engineered_mean          260601 non-null float64
has_superstructure_other_mean                  260601 non-null float64
area_percentage_norm                           260601 non-null float64
height_percentage_norm                         260601 non-null float64
dtypes: float64(13), int64(31)
memory usage: 87.5 MB

In [74]:
train = train_v3.drop(labels=[
 'has_superstructure_adobe_mud_mean','has_superstructure_mud_mortar_stone_mean','has_superstructure_stone_flag_mean','has_superstructure_cement_mortar_stone_mean',\
'has_superstructure_mud_mortar_brick_mean','has_superstructure_cement_mortar_brick_mean','has_superstructure_timber_mean','has_superstructure_bamboo_mean',\
'has_superstructure_rc_non_engineered_mean','has_superstructure_other_mean','has_superstructure_rc_engineered_mean'],axis=1)

In [75]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 33 columns):
building_id                  260601 non-null int64
geo_level_1_id               260601 non-null int64
geo_level_2_id               260601 non-null int64
geo_level_3_id               260601 non-null int64
count_floors_pre_eq          260601 non-null int64
age                          260601 non-null int64
count_families               260601 non-null int64
damage_grade                 260601 non-null int64
roof_type_C1                 260601 non-null int64
roof_type_C0                 260601 non-null int64
land_surface_condition_C0    260601 non-null int64
land_surface_condition_C1    260601 non-null int64
foundation_type_C0           260601 non-null int64
foundation_type_C1           260601 non-null int64
foundation_type_C2           260601 non-null int64
ground_floor_type_C0         260601 non-null int64
ground_floor_type_C1         260601 non-null int64
ground_floor_type_C2         260601 non-null int64
other_floor_type_C0          260601 non-null int64
other_floor_type_C1          260601 non-null int64
other_floor_type_C2          260601 non-null int64
position_C0                  260601 non-null int64
position_C1                  260601 non-null int64
position_C2                  260601 non-null int64
plan_configuration_C0        260601 non-null int64
plan_configuration_C1        260601 non-null int64
plan_configuration_C2        260601 non-null int64
plan_configuration_C3        260601 non-null int64
legal_ownership_status_C0    260601 non-null int64
legal_ownership_status_C1    260601 non-null int64
legal_ownership_status_C2    260601 non-null int64
area_percentage_norm         260601 non-null float64
height_percentage_norm       260601 non-null float64
dtypes: float64(2), int64(31)
memory usage: 65.6 MB

In [76]:
train_labels_v2 = train['damage_grade']

In [77]:
del train['damage_grade']

In [78]:
x3 = np.array(train.iloc[1:100000,1:42])
y3 = np.array(train_labels_v2.iloc[1:100000])

In [79]:
model = RandomForestRegressor(n_estimators=20,criterion="mae",max_depth=5)
model.fit(x3,y3)

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=5,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [80]:
test_data_v2 = test_data.drop(labels=[
 'has_superstructure_adobe_mud','has_superstructure_mud_mortar_stone','has_superstructure_stone_flag','has_superstructure_cement_mortar_stone',\
'has_superstructure_mud_mortar_brick','has_superstructure_cement_mortar_brick','has_superstructure_timber','has_superstructure_bamboo',\
'has_superstructure_rc_non_engineered','has_superstructure_other','has_superstructure_rc_engineered'],axis=1)

In [85]:
predictions_v2 = model.predict(test_data_v2.iloc[:,1:42])

In [86]:
predictions_v3 = model.predict(np.array(test_data_v2.iloc[:,1:42]))

In [87]:


submit2 = pd.read_csv('submission_format.csv', index_col='building_id')
submission2 = pd.DataFrame(
    data=predictions_v2,
    columns=submit2.columns,
    index=submit2.index
)
submission2.head()

             damage_grade
building_id
300051                1.8
99355                 1.3
890251                1.2
745817                1.2
421793                1.6

In [88]:
submit3 = pd.read_csv('submission_format.csv', index_col='building_id')
submission3= pd.DataFrame(
    data=predictions_v3,
    columns=submit3.columns,
    index=submit3.index
)
submission3.head()

             damage_grade
building_id
300051                1.8
99355                 1.3
890251                1.2
745817                1.2
421793                1.6

In [89]:
submission3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86868 entries, 300051 to 501372
Data columns (total 1 columns):
damage_grade    86868 non-null float64
dtypes: float64(1)
memory usage: 1.3 MB

In [90]:
submission3['damage_grade'] = submission3['damage_grade'].astype('int64')
submission2['damage_grade'] = submission2['damage_grade'].astype('int64')

In [91]:
submission3['damage_grade'].value_counts()

1    69876
2    16990
3        2
Name: damage_grade, dtype: int64

In [92]:
submission2['damage_grade'].value_counts()

1    69876
2    16990
3        2
Name: damage_grade, dtype: int64

In [93]:
submission2.to_csv('submitRFRegressor2.csv')

In [94]:
##Submit 0.1542
##Probamos con este modelo NFL Para encontrar la predicción con un score mas alto
test_data_v2.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,count_families,roof_type_C1,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,300051,17,596,11307,3,20,7,6,1,0,...,0,1,0,1,0,0,0,1,0,0
1,99355,6,141,11987,2,25,13,5,1,0,...,0,1,0,1,0,0,0,1,0,0
2,890251,22,19,10044,2,5,4,5,1,0,...,0,1,0,1,0,0,0,1,0,0
3,745817,26,39,633,1,0,19,3,2,1,...,1,0,0,1,0,0,0,1,0,0
4,421793,17,289,7970,3,15,8,7,1,1,...,1,0,0,1,0,0,0,1,0,0

In [104]:
test_data_v2['plan_configuration_C0'].value_counts()

1    84692
0     2176
Name: plan_configuration_C0, dtype: int64

In [122]:
def inversa(x):
    if x == 0:
        x=1
    else:
        x=0;
    return x;

In [125]:
test_data_v2['roof_type_C1'] = test_data_v2['roof_type_C1'].apply(inversa)

In [127]:
test_data_v2['roof_type_C1'].value_counts()

1    61133
0    25735
Name: roof_type_C1, dtype: int64

In [128]:
test_data_v2['plan_configuration_C0'] = test_data_v2['plan_configuration_C0'].apply(inversa)
test_data_v2['plan_configuration_C0'].value_counts()

0    84692
1     2176
Name: plan_configuration_C0, dtype: int64

In [129]:
test_data_v2['plan_configuration_C1'] = test_data_v2['plan_configuration_C1'].apply(inversa)
test_data_v2['plan_configuration_C2'] = test_data_v2['plan_configuration_C2'].apply(inversa)
test_data_v2['plan_configuration_C3'] = test_data_v2['plan_configuration_C3'].apply(inversa)
test_data_v2['roof_type_C0'] = test_data_v2['roof_type_C0'].apply(inversa)
test_data_v2['land_surface_condition_C0'] = test_data_v2['land_surface_condition_C0'].apply(inversa)
test_data_v2['land_surface_condition_C1'] = test_data_v2['land_surface_condition_C1'].apply(inversa)
test_data_v2['foundation_type_C0'] = test_data_v2['foundation_type_C0'].apply(inversa)
test_data_v2['foundation_type_C1'] = test_data_v2['foundation_type_C1'].apply(inversa)
test_data_v2['foundation_type_C2'] = test_data_v2['foundation_type_C2'].apply(inversa)
test_data_v2['ground_floor_type_C0'] = test_data_v2['ground_floor_type_C0'].apply(inversa)
test_data_v2['ground_floor_type_C1'] = test_data_v2['ground_floor_type_C1'].apply(inversa)
test_data_v2['ground_floor_type_C2'] = test_data_v2['ground_floor_type_C2'].apply(inversa)
test_data_v2['other_floor_type_C0'] = test_data_v2['other_floor_type_C0'].apply(inversa)
test_data_v2['other_floor_type_C1'] = test_data_v2['other_floor_type_C1'].apply(inversa)
test_data_v2['other_floor_type_C2'] = test_data_v2['other_floor_type_C2'].apply(inversa)
test_data_v2['position_C0'] = test_data_v2['position_C0'].apply(inversa)
test_data_v2['position_C1'] = test_data_v2['position_C1'].apply(inversa)
test_data_v2['position_C2'] = test_data_v2['position_C2'].apply(inversa)
test_data_v2['legal_ownership_status_C0'] = test_data_v2['legal_ownership_status_C0'].apply(inversa)
test_data_v2['legal_ownership_status_C1'] = test_data_v2['legal_ownership_status_C1'].apply(inversa)
test_data_v2['legal_ownership_status_C2'] = test_data_v2['legal_ownership_status_C2'].apply(inversa)

In [130]:
predictions_v3 = model.predict(np.array(test_data_v2.iloc[:,1:42]))

In [131]:
submission3= pd.DataFrame(
    data=predictions_v3,
    columns=submit3.columns,
    index=submit3.index
)
submission3.head()

             damage_grade
building_id
300051               2.85
99355                2.85
890251               2.85
745817               2.90
421793               2.90

In [132]:
submission3['damage_grade'].value_counts()

2.85    62024
2.90    13669
1.45     2514
1.20     1985
1.95     1123
2.80      879
2.95      801
1.60      515
1.50      390
1.70      377
1.80      357
1.85      299
2.30      297
1.35      252
2.00      242
1.25      196
1.40      162
1.65      149
1.90      141
2.10      110
1.55       89
1.75       80
2.05       64
1.00       30
2.70       30
2.20       28
2.75       27
2.25       12
1.30        9
3.00        7
2.65        4
2.60        4
2.15        1
2.40        1
Name: damage_grade, dtype: int64

In [133]:
submission3['damage_grade'] = submission3['damage_grade'].apply(np.round)
submission3['damage_grade'].value_counts()

3.0    77445
1.0     5148
2.0     4275
Name: damage_grade, dtype: int64

In [136]:
submission3['damage_grade'] = submission3['damage_grade'].astype('int64')
submission3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86868 entries, 300051 to 501372
Data columns (total 1 columns):
damage_grade    86868 non-null int64
dtypes: int64(1)
memory usage: 1.3 MB

In [137]:
submission3.to_csv('submitRFRegressor3.csv')

In [138]:
## Cambiando trasponiendo los valores booleanos el score sube a 0.3785

In [139]:
test_data_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86868 entries, 0 to 86867
Data columns (total 32 columns):
building_id                  86868 non-null int64
geo_level_1_id               86868 non-null int64
geo_level_2_id               86868 non-null int64
geo_level_3_id               86868 non-null int64
count_floors_pre_eq          86868 non-null int64
age                          86868 non-null int64
area_percentage              86868 non-null int64
height_percentage            86868 non-null int64
count_families               86868 non-null int64
roof_type_C1                 86868 non-null int64
roof_type_C0                 86868 non-null int64
land_surface_condition_C1    86868 non-null int64
land_surface_condition_C0    86868 non-null int64
foundation_type_C0           86868 non-null int64
foundation_type_C1           86868 non-null int64
foundation_type_C2           86868 non-null int64
ground_floor_type_C0         86868 non-null int64
ground_floor_type_C1         86868 non-null int64
ground_floor_type_C2         86868 non-null int64
other_floor_type_C0          86868 non-null int64
other_floor_type_C1          86868 non-null int64
other_floor_type_C2          86868 non-null int64
position_C0                  86868 non-null int64
position_C1                  86868 non-null int64
position_C2                  86868 non-null int64
plan_configuration_C0        86868 non-null int64
plan_configuration_C1        86868 non-null int64
plan_configuration_C2        86868 non-null int64
plan_configuration_C3        86868 non-null int64
legal_ownership_status_C0    86868 non-null int64
legal_ownership_status_C1    86868 non-null int64
legal_ownership_status_C2    86868 non-null int64
dtypes: int64(32)
memory usage: 21.2 MB

In [140]:
test_data_v2['age'].value_counts() ##Age 1000 - valor

10     12784
15     12064
5      11348
20     10610
0       8684
25      8220
30      5949
35      3710
40      3491
50      2362
45      1544
60      1161
80      1032
70       704
55       662
100      516
995      461
65       374
90       341
85       286
75       181
95       133
120       56
110       42
150       37
200       34
105       30
125       25
115        9
180        4
130        4
155        3
140        2
160        2
190        2
170        1
Name: age, dtype: int64

In [153]:
##test_data_v2.loc[test_data_v2['height_percentage']>30,:] 
##100 - valor area/height porque son porcentajes
##10 - numero de familias veamos relacion con la cantidad de pisos count_floors_pre_eq (tambien como maximo seria el 10)
test_data_v2['geo_level_1_id'].value_counts()

6     8104
17    7452
26    7387
10    7320
7     6571
8     6385
20    5545
21    5055
4     4894
27    4254
13    3238
11    2675
3     2455
22    2106
25    1865
16    1392
0     1347
9     1255
18    1011
12    1010
30     909
5      889
1      887
15     814
14     605
24     427
23     377
2      290
29     141
19     124
28      84
Name: geo_level_1_id, dtype: int64