In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.legend import Legend
import matplotlib.patches as mpatches
import seaborn as sns
#from statsmodels.graphics.mosaicplot import mosaic
import io
import requests

%matplotlib inline


#import xgboost as xgb
#from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import tree

from sklearn.metrics import log_loss

In [2]:
entrenamiento_df = pd.read_csv('dataset_v3')

In [3]:
test_df = pd.read_csv('encoded_test_values.csv')

In [4]:
entrenamiento_df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,count_families,damage_grade,roof_type_C1,roof_type_C0,...,has_superstructure_cement_mortar_stone_mean,has_superstructure_mud_mortar_brick_mean,has_superstructure_cement_mortar_brick_mean,has_superstructure_timber_mean,has_superstructure_bamboo_mean,has_superstructure_rc_non_engineered_mean,has_superstructure_rc_engineered_mean,has_superstructure_other_mean,area_percentage_norm,height_percentage_norm
0,802906,6,487,12198,2,30,1,3,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.050505,0.100000
1,28830,8,900,2812,2,10,1,2,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.070707,0.166667
2,94947,21,363,8973,2,10,1,3,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.040404,0.100000
3,590882,22,418,10694,2,10,1,2,0,1,...,0.981765,0.931846,0.924732,0.254988,0.085011,0.95741,0.984141,0.985015,0.050505,0.100000
4,201944,11,131,1488,3,30,1,3,0,1,...,0.981765,0.931846,0.924732,0.745012,0.914989,0.95741,0.984141,0.985015,0.070707,0.233333

In [5]:
test_df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,position_C0,position_C1,position_C2,plan_configuration_C0,plan_configuration_C1,plan_configuration_C2,plan_configuration_C3,legal_ownership_status_C0,legal_ownership_status_C1,legal_ownership_status_C2
0,300051,17,596,11307,3,20,7,6,t,r,...,0,1,0,1,0,0,0,1,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,0,1,0,1,0,0,0,1,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,1,0,1,0,0,0,1,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,1,0,0,1,0,0,0,1,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,1,0,0,1,0,0,0,1,0,0

##### Separo el dataset "entrenamiento_df" en las variables atributo y la variable objetivo

In [6]:
x=entrenamiento_df.drop(['damage_grade'], axis=1)

In [7]:
y=entrenamiento_df['damage_grade']

##### Genero una subdivision del dataset de entrenamiento para tener una etapa de validacion
##### Entreno el algoritmo con X_train e y_train, para luego intentar predecir los valores objetivo para X_test

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(x, y, test_size=0.2, random_state=123)

In [9]:
from sklearn.linear_model import LogisticRegression
clfLR = LogisticRegression(random_state=0)

In [10]:
clfLR.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [11]:
y_validation =clfLR.predict(X_test)

In [12]:
accuracy_score(y_test, y_validation)

0.5668924233993976

##### Ahora la posta

In [13]:
clfLR.fit(x,y)

LogisticRegression(random_state=0)

In [14]:
test_df = test_df.drop(labels=['land_surface_condition','foundation_type','roof_type',\
'ground_floor_type','other_floor_type','position', 'plan_configuration','legal_ownership_status',\
 'has_secondary_use','has_secondary_use_agriculture','has_secondary_use_hotel','has_secondary_use_rental',\
'has_secondary_use_institution','has_secondary_use_school','has_secondary_use_industry','has_secondary_use_health_post',\
'has_secondary_use_gov_office','has_secondary_use_use_police','has_secondary_use_other'],axis=1)

In [15]:
y_prediction_1=clfLR.predict(test_df)

In [16]:
#Creo un nuevo df con los id de los edificios del df de prueba
prediccion1=test_df['building_id'].to_frame()
prediccion1.insert(1,'damage_grade', y_prediction_1, True)
prediccion1.to_csv(r'./logRegression1.csv',index=False , header=True)

## Ahora vamos a hacer una prediccion con datasets basados en One Hot Encoding

In [17]:
test_oneHot = pd.read_csv('test_oneHotEncoding.csv')
train_oneHot = pd.read_csv('train_oneHotEncoding.csv')
train_labels = pd.read_csv('train_labels.csv')
train_labels = train_labels['damage_grade']

In [18]:
clfLR.fit(train_oneHot, train_labels)
predict_oneHot =clfLR.predict(test_oneHot)

In [19]:
#Creo un nuevo df con los id de los edificios del df de prueba
predict_oneHot_logReg=test_oneHot['building_id'].to_frame()
predict_oneHot_logReg.insert(1,'damage_grade', predict_oneHot, True)
predict_oneHot_logReg.to_csv(r'./oneHot_logRegression.csv',index=False , header=True)

In [20]:
from sklearn.neural_network import MLPClassifier

In [21]:

nro_neuronas=100#150
capas=3#3
#clfLR = MLPClassifier(hidden_layer_sizes=(nro_neuronas,capas50),random_state=1)#solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clfLR = MLPClassifier(hidden_layer_sizes=(50,50,50 ),random_state=1)#solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)

In [22]:
clfLR.fit(train_oneHot, train_labels)
predict_oneHot =clfLR.predict(test_oneHot)

In [23]:
#Creo un nuevo df con los id de los edificios del df de prueba
predict_oneHot_MLP=test_oneHot['building_id'].to_frame()
predict_oneHot_MLP.insert(1,'damage_grade', predict_oneHot, True)
predict_oneHot_MLP.to_csv(r'./oneHot_multiLayerPerceptron.csv',index=False , header=True)